:root {
	font-family: Noto Sans, sans-serif;
	font-size: 20px;
}

#body {
	background-color: #e6e6fa;
}

#main_title {
	font-weight: bolder;
	display: inline;
}

#contacts_table, #projects_table {
	border: none;
	border-left: 6px solid #2929ff;
}

#theme_btn {
	font-size: 15px;
	float: right;
}

.dark-theme {
	background-color: #2a323b;
	color: #ffffff;
}

a {
	color: #42aaff
}

h1, h2, h3, h4, h5, h6 {
	color: #c77b00;
}

p {
	border-left: 6px solid #2929ff;
	padding-left: 15px;
}

td {
	padding-left: 15px;
}
