:root {
	font-family: Noto Sans, sans-serif;
	font-size: 20px;
	
	background-color: #f0f0f0;
}

h1, h2, h3, h4, h5, h6 {
	color: #c77b00;
}

#main_title {
	font-weight: bolder;
}

#contacts_table {
	border: none;
	border-left: 6px solid #2929ff;
}

p {
	border-left: 6px solid #2929ff;
	padding-left: 15px;
}

td {
	padding-left: 15px;
}
