body {
	background-color:  #0A000A;
	padding: 1%;
	font-family: Ubuntu Mono Ubuntu Medium, Arial, serif;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

a {
	transition-duration: 50ms;
	background-color: rgba(0,0,0,0);
	color: #00FA00;
	padding: 0;
	border-radius: 5px;
}

a:not(.icon_a):hover {
	padding: 5px;
	background-color: #332533FF;
	color: #00DA00;
}

content {
	flex: 1 0 auto;
}

footer {
	margin:  0;
	padding: 0
	flex: 0 0 auto;
}

.center {
	text-align: center;
}

.icon {
	width: 5rem;
	height: 5rem;
	transition-duration: 100ms;
	padding: 5px;
	border-radius: 7.5px;
	margin-left: 1rem;
	margin-right: 1rem;
	background-color: #FFFFFF;
}

.icon:hover {
	transition-duration: 100ms;
	background-color: #DDFFDD;
}

#links {
	padding: 0.5%;
	max-height: 7.5%;
	min-height: 7.5%;
	height: 7.5%;
	position: sticky;
}